[submodule "themes/uilite"]
	path = themes/uilite
	url = https://github.com/uicardiodev/hugo-uilite.git
[submodule "themes/vncnt-hugo"]
	path = themes/vncnt-hugo
	url = https://github.com/fncnt/vncnt-hugo
